*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #232323;
    --color-gold: #F9C949;
    --color-gray: #708090;
}

.space-section {
    margin: 2rem 0;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}